%h2 Администрирование групп компетенций
.panel.panel-default
  .panel-heading
    %h3.panel-title Группы компетенций
  .panel-body#admin_competence_groups
    - @groups.each do |group|
      = render "competence_group", group: group
  .panel-footer
    %button.btn.btn-primary#add_competence_group{data: {remote: true}} Добавить группу компетенций
    %button.btn.btn-danger.pull-right#competence_group_cancel Отменить
    %button.btn.btn-success.pull-right#competence_group_apply{style: "margin-right: 10px"} Применить
    .clearfix

%h2 Администрирование компетенций