// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body {
  .competence_input {
    display: inline-block;
    width: 25%;
    margin-left: 10px;
  }
}