// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-body {
  .competence_input {
    display: inline-block;
    width: 30%;
    margin-left: 10px;
  }
}

.competence_invisible {
  background-image: url("bg.png");
  background-repeat: repeat;
}