.col-lg-10.col-lg-offset-1
  .list-group
    - @competence_groups.each do |cg|
      = link_to content_tag(:span, "", { class: "glyphicon glyphicon-plus", style: "font-size: 14px"}) + " " + [cg.position].pack("U") + ". " + cg.name, "#", class: "list-group-item", style: "background-color: #{cg.color.first}; font-size: 18px; font-weight: bold"